# Ruby/Sinatra
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/egit xamples.txt
/test/tmp/
/test/version_tmp/
/tmp/

# Bundler
/.bundle/
/vendor/bundle

# macOS
.DS_Store

# IDE
.vscode/

# Mobile builds (Capacitor)
android/
ios/

# Logs
logs/
*.log
.DS_Store
assets/.DS_Store
node_modules
_site/
.DS_Store
.DS_Store
_site/
.DS_Store
On branch main
Your branch is up to date with 'medic138/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   .gitignore

no changes added to commit (use "git add" and/or "git commit -a")
.DS_Store
